<div class="page-header">
    <h1>Dishes</h1>
</div>

<div>
    <h3> Select a dish</h3>
    <select ng-model="selectedDish" ng-options="item.name for item in dishes">
        <option value="">---Please select---</option>
</select>
    <div class="form-group">
        <p ng-if="selectedDish">Name : {{selectedDish.name}} </p>
        <p ng-if="selectedDish">Cooking Time : {{selectedDish.cookingTime}} </p>
        <p ng-if="selectedDish">Difficulty : {{selectedDish.difficulty}} </p>
        <p ng-if="selectedDish">Dish type : {{selectedDish.dishType}} </p>
        <p ng-if="selectedDish">Preparation : {{selectedDish.preparation}} </p>
        
    
    </div>   
</div>


<div class="form-group" >
    <H3>Add a new dish</H3>
    <form ng-submit="createDish()" >
          <div class="form-group">
              <label>Name</label>
            <input type="text" class="form-control" ng-model="name" placeholder="Name" />
        </div>
 <div class="form-group">
            <label>Cooking time</label>
            <select class="form-control" ng-model="cookingTime">
                <option ng-value="SHORT">SHORT</option>
                <option ng-value="MEDIUM">MEDIUM</option>
                <option ng-value="LONG">LONG</option>
            </select>
        </div>
 <div class="form-group">
            <label>Difficulty</label>
            <select class="form-control" ng-model="difficulty">
                <option ng-value="STARTERS">STARTERS</option>
                <option ng-value="ADVANCED">ADVANCED</option>
                <option ng-value="MASTER">MASTER</option>
            </select>
        </div>
 <div class="form-group">
            <label>Dish type</label>
            <select class="form-control" ng-model="dishType">
                <option ng-value="APPETIZER">APPETIZER</option>
                <option ng-value="MAINDISH">MAINDISH</option>
                <option ng-value="DESSERT">DESSERT</option>
            </select>
        </div>
        <div class="form-group-row">
            <label>Ingredients</label>
            </div>
        <div class="row">
            
  <div class="col-lg-5" ng-repeat="itemToAdd in itemsToAdd">
    <div class="input-group">
      <span class="input-group-addon">
          <label>Name</label>
      </span>
      <input type="text" class="form-control" aria-label="Name" ng-model="itemsToAdd.name">
    </div><!-- /input-group -->
  </div><!-- /.col-lg-6 -->
  <div class="col-lg-5">
    <div class="input-group">
      <span class="input-group-addon">
        <label>Amount</label>
      </span>
      <input type="text" class="form-control" aria-label="amount" ng-model="itemsToAdd.amount">
    </div><!-- /input-group -->
  </div><!-- /.col-lg-6 -->
             <div class="col-lg-2">
    <div class="input-group">
      <span class="input-group-addon">
         <button ng-click="add(itemToAdd)">Add</button>
          
    </div><!-- /input-group -->
  </div><!-- /.col-lg-6 -->
</div><!-- /.row -->
            <button ng-click="addNew()">Add new</button>
        
        
<div class="form-group">
             <label>Preparation</label>
            <textarea class="form-control" rows="5" ng-model="preparation" placeholder="preparation"></textarea>
        </div>
        <button type="submit" >Confirm</button>
        
    </form>

    </div>




<div >
    <div  class="form-group" ng-repeat="dish in dishes">
        <span> naam : {{dish.name}}</span>
       <span>type : {{dish.dishType}}</span>
        <span>cooking time :  {{dish.cookingTime}}</span>
        <span>difficulty :  {{dish.difficulty}}</span>
        <button type = "submit">Bekijk</button>
    </div>
    </div>

