<div class="page-header">
    <h1>Eva webapplication</h1>
</div>

<div >
    
   <table class="table">
       <thead class="thead-inverse">
        
        <th>#</th>
        <th>Name</th>
        <th>Dish type</th>
        <th>cooking time</th>
        <th>Difficulty</th>
        
  </thead>    
  <tr ng-repeat="dish in dishes">
        <td>{{dish.imageId}}</td>
        <td>{{dish.name}}</td>
        <td>{{dish.dishType}}</td>
        <td>{{dish.cookingTime}}</td>
        <td> {{dish.difficulty}}</td>
  </tr>
</table> 
    
    
   